.backgroundImg {
  background-image: url('https://miro.medium.com/max/12000/0*z9WXKtzmXIvVj6UK.');
  background-size: cover;
  min-height: 100vh;
}

.movieList {
  display: flex;
  padding-left: 1em;
}

.singleMovie {
  padding-right: 2em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
