.backgroundImg {
  background-image: url('https://miro.medium.com/max/12000/0*z9WXKtzmXIvVj6UK.');
  background-size: cover;
  position: static;
  min-height: 100vh;
}

.searchMovies {
  font-size: medium;
  display: flex;
  background-color: teal;
}

.buttonRow {
  display: flex;
  align-items: center;
}

.movieName {
  color: white;
}

.homePage {
  color: white;
  text-align: center;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
}

.singleMovie {
  padding-right: 2em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
